html,
body {
  height: 100%;
  width: 100%;
  /*Cyberpunk theme */
  --dark-purple: #1b163f;
  --pink: #c511b7;
  --teal: #31d1d7;
  --mid-purple: #4e1e96;
  --light-purple: #6221c9;
  --scaleY: 0.35;
}

@font-face {
  font-family: 'Inter var';
  font-style: normal;
  font-weight: 100 900;
  font-display: block;
  src: url(/fonts/Inter-roman.latin.var.woff2) format('woff2');
}
@font-face {
  font-family: 'Inter var';
  font-style: italic;
  font-weight: 100 900;
  font-display: block;
  src: url(/fonts/Inter-italic.latin.var.woff2) format('woff2');
  font-named-instance: 'Italic';
}

body {
  font-family: 'Inter var', system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  -webkit-font-smoothing: subpixel-antialiased;
  font-feature-settings: 'case' 1, 'cpsp' 1, 'dlig' 1, 'cv01' 1, 'cv02',
    'cv03' 1, 'cv04' 1;
  font-variation-settings: 'wght' 450;
  font-variant: common-ligatures contextual;
  letter-spacing: -0.02em;
}
b,
strong,
h3,
h4,
h5,
h6 {
  font-variation-settings: 'wght' 650;
}
h1 {
  font-variation-settings: 'wght' 850;
}
h2 {
  font-variation-settings: 'wght' 750;
}

@media screen and (min-device-pixel-ratio: 1.5),
  screen and (min-resolution: 1.5dppx) {
  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

details summary {
  cursor: pointer;
}

img.next-image {
  margin: 0;
}

.prose a {
  color: #0074de;
}

.nav-line .nav-link {
  color: #69778c;
}

@keyframes fly {
  from {
    rotate: 10deg;
    left: 0%;
  }
  to {
    rotate: -10deg;
    left: 91%;
  }
}

@keyframes shoot {
  0% {
    transform: scaleY(var(--scaleY)) scale(1.02, 1);
    opacity: 0.1;
  }
  10% {
    transform: scaleY(var(--scaleY)) scale(1.04, 1);
  }
  20% {
    transform: scaleY(var(--scaleY)) scale(1.06, 1);
  }
  30% {
    transform: scaleY(var(--scaleY)) scale(1.08, 1);
  }
  40% {
    transform: scaleY(var(--scaleY)) scale(1.1, 1);
  }
  50% {
    transform: scaleY(var(--scaleY)) scale(1.12, 1);
    opacity: 1;
  }
  60% {
    transform: scaleY(var(--scaleY)) scale(1.14, 1);
  }
  70% {
    transform: scaleY(var(--scaleY)) scale(1.16, 1);
  }
  80% {
    transform: scaleY(var(--scaleY)) scale(1.18, 1);
  }
  90% {
    transform: scaleY(var(--scaleY)) scale(1.2, 1);
  }
  100% {
    transform: scaleY(var(--scaleY)) scale(1.22, 1);
    opacity: 0;
  }
}

.ufo-container {
  width: 100%;
}

.ufo {
  position: absolute;
  width: 80px;
  height: 80px;
  animation-name: fly;
  animation-duration: 6s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  z-index: 1;
}

.ufo:hover {
  cursor: pointer;
  animation-play-state: paused;
}

.saucer {
  position: absolute;
  width: 80px;
  z-index: 2;
}

.tractor-beam {
  visibility: hidden;
  border-radius: 50%;
  position: absolute;
  background-color: transparent;
  border: 5px var(--dark-purple) solid;
  animation: shoot;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  animation-duration: 0.3s;
}

#r1 {
  top: 74%;
  left: 37%;
  width: 20px;
  height: 20px;
}

#r2 {
  top: 85%;
  left: 35%;
  width: 25px;
  height: 25px;
}
#r3 {
  top: 98%;
  left: 32%;
  width: 30px;
  height: 30px;
}
#r4 {
  top: 115%;
  left: 30%;
  width: 35px;
  height: 35px;
}
#r5 {
  top: 131%;
  left: 28%;
  width: 40px;
  height: 40px;
}

.ufo:hover > .tractor-beam {
  visibility: visible;
}
